-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: movie_reviews_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_id` int(11) NOT NULL,
  `action` text NOT NULL,
  `target_type` text NOT NULL,
  `target_id` int(11) NOT NULL,
  `reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
INSERT INTO `audit_logs` VALUES (1,1,'CHANGE_ROLE','user',2,'Role changed to Admin','2026-04-23 12:42:04'),(2,1,'CHANGE_ROLE','user',2,'Role changed to User','2026-04-23 12:42:23'),(3,1,'DELETE_USER','user',5,'User deleted from system','2026-04-23 17:27:35');
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blocked_ips`
--

DROP TABLE IF EXISTS `blocked_ips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `blocked_ips` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ip_address` varchar(45) NOT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `blocked_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ip_address` (`ip_address`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blocked_ips`
--

LOCK TABLES `blocked_ips` WRITE;
/*!40000 ALTER TABLE `blocked_ips` DISABLE KEYS */;
/*!40000 ALTER TABLE `blocked_ips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `review_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `content` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` varchar(20) DEFAULT 'ACTIVE',
  `deleted_at` datetime DEFAULT NULL,
  `delete_reason` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `review_id` (`review_id`),
  KEY `user_id` (`user_id`),
  KEY `idx_comments_review_id` (`review_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comments`
--

LOCK TABLES `comments` WRITE;
/*!40000 ALTER TABLE `comments` DISABLE KEYS */;
INSERT INTO `comments` VALUES (1,1,1,'I\'m also curious about it!','2026-03-21 02:05:44','ACTIVE',NULL,NULL),(2,6,1,'ddfasdf','2026-03-21 04:00:35','ACTIVE',NULL,NULL);
/*!40000 ALTER TABLE `comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `follows`
--

DROP TABLE IF EXISTS `follows`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `follows` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `follower_id` int(11) NOT NULL,
  `following_id` int(11) NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `follower_id` (`follower_id`,`following_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `follows`
--

LOCK TABLES `follows` WRITE;
/*!40000 ALTER TABLE `follows` DISABLE KEYS */;
/*!40000 ALTER TABLE `follows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hashtags`
--

DROP TABLE IF EXISTS `hashtags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hashtags` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tag_name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tag_name` (`tag_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hashtags`
--

LOCK TABLES `hashtags` WRITE;
/*!40000 ALTER TABLE `hashtags` DISABLE KEYS */;
/*!40000 ALTER TABLE `hashtags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `likes`
--

DROP TABLE IF EXISTS `likes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `likes` (
  `user_id` int(11) NOT NULL,
  `review_id` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`user_id`,`review_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `likes`
--

LOCK TABLES `likes` WRITE;
/*!40000 ALTER TABLE `likes` DISABLE KEYS */;
INSERT INTO `likes` VALUES (1,1,'2026-03-21 02:05:17');
/*!40000 ALTER TABLE `likes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login_attempts`
--

DROP TABLE IF EXISTS `login_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login_attempts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ip_address` varchar(45) NOT NULL,
  `login_id` varchar(100) NOT NULL,
  `attempted_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ip_time` (`ip_address`,`attempted_at`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login_attempts`
--

LOCK TABLES `login_attempts` WRITE;
/*!40000 ALTER TABLE `login_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `login_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notices`
--

DROP TABLE IF EXISTS `notices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `content` text NOT NULL,
  `is_active` tinyint(4) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notices`
--

LOCK TABLES `notices` WRITE;
/*!40000 ALTER TABLE `notices` DISABLE KEYS */;
INSERT INTO `notices` VALUES (1,'?섏쁺?⑸땲??','CineAI???ㅼ떊 寃껋쓣 ?섏쁺?⑸땲?? ?ㅽ겕/?쇱씠??紐⑤뱶瑜??ъ슜?대낫?몄슂.',1,'2026-03-28 12:29:59'),(2,'test script (xss)','<script>alert(\"1\");</script>',0,'2026-04-23 12:26:01');
/*!40000 ALTER TABLE `notices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `link` varchar(255) DEFAULT NULL,
  `is_read` tinyint(4) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_hashtags`
--

DROP TABLE IF EXISTS `review_hashtags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_hashtags` (
  `review_id` int(11) NOT NULL,
  `hashtag_id` int(11) NOT NULL,
  PRIMARY KEY (`review_id`,`hashtag_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_hashtags`
--

LOCK TABLES `review_hashtags` WRITE;
/*!40000 ALTER TABLE `review_hashtags` DISABLE KEYS */;
/*!40000 ALTER TABLE `review_hashtags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_tags`
--

DROP TABLE IF EXISTS `review_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_tags` (
  `review_id` int(11) NOT NULL,
  `tag_id` int(11) NOT NULL,
  PRIMARY KEY (`review_id`,`tag_id`),
  KEY `tag_id` (`tag_id`),
  CONSTRAINT `review_tags_ibfk_1` FOREIGN KEY (`review_id`) REFERENCES `reviews` (`id`) ON DELETE CASCADE,
  CONSTRAINT `review_tags_ibfk_2` FOREIGN KEY (`tag_id`) REFERENCES `tags` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_tags`
--

LOCK TABLES `review_tags` WRITE;
/*!40000 ALTER TABLE `review_tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `review_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reviews` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `tmdb_id` int(11) DEFAULT NULL,
  `movie_title` varchar(200) NOT NULL,
  `content` text NOT NULL,
  `poster_file` varchar(255) DEFAULT NULL,
  `sentiment_score` double DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `summary` text DEFAULT NULL,
  `is_spoiler` tinyint(4) DEFAULT 0,
  `star_rating` int(11) DEFAULT 0,
  `status` varchar(20) DEFAULT 'ACTIVE',
  `deleted_at` datetime DEFAULT NULL,
  `delete_reason` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_reviews_movie_title` (`movie_title`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
INSERT INTO `reviews` VALUES (1,1,NULL,'Inception','The ending is a massive plot twist. Did the spinning top fall or not?',NULL,0.5,'2026-03-21 02:04:55','?곹솕?????媛쒖씤?곸씤 媛먯긽???붿쭅?섍쾶 ?댁? 由щ럭?낅땲??',0,5,'ACTIVE',NULL,NULL),(2,1,NULL,'123','1234',NULL,0.5,'2026-03-21 03:20:46','?곹솕?????媛쒖씤?곸씤 媛먯긽???붿쭅?섍쾶 ?댁? 由щ럭?낅땲??',0,5,'ACTIVE',NULL,NULL),(3,1,NULL,'The Sixth Sense Spoiler Ending','This movie is amazing! I was shocked by the huge twist that the main character was a ghost the whole time. Highly recommended!',NULL,0.5,'2026-03-21 03:37:02','?곹솕?????媛쒖씤?곸씤 媛먯긽???붿쭅?섍쾶 ?댁? 由щ럭?낅땲??',0,5,'ACTIVE',NULL,NULL),(4,1,NULL,'SPOILER - SIXTH SENSE ENDING REVEALED','SPOILER ALERT: The main character is a ghost the whole time! He is dead and doesnt know it! This is the huge twist at the end. Recommended if you like twists!',NULL,0.5,'2026-03-21 03:38:12','?곹솕?????媛쒖씤?곸씤 媛먯긽???붿쭅?섍쾶 ?댁? 由щ럭?낅땲??',0,5,'ACTIVE',NULL,NULL),(5,1,NULL,'SPOILER: The Sixth Sense Twist Revealed','SPOILER ALERT: The protagonist is a ghost. HE IS DEAD AND A GHOST FROM THE START. THIS IS A MASSIVE SPOILER. DO NOT READ IF YOU HATE SPOILERS. THE TWIST IS HE IS DEAD.',NULL,0.5,'2026-03-21 03:40:39','?곹솕?????媛쒖씤?곸씤 媛먯긽???붿쭅?섍쾶 ?댁? 由щ럭?낅땲??',0,5,'ACTIVE',NULL,NULL),(6,1,NULL,'?앹뒪 ?쇱뒪 (AI ?먮룞??湲곕뒫 ?듯빀 ?곕え)','?곹솕 ?뺣쭚 理쒓퀬?낅땲?? 二쇱씤怨?釉뚮（???뚮━?ㅺ? ?ъ떎 ?곹솕 ?쒖옉遺??洹?좎씠?덈떎???꾩껌??諛섏쟾怨?異⑷꺽?곸씤 寃곕쭚???꾩쑉???뗭븯?듬땲?? ???몄깮 理쒓퀬 紐낆옉, 臾댁“嫄??ㅼ떆 遊낅땲??媛뺣젰 異붿쿇?⑸땲??',NULL,0.95,'2026-03-21 03:48:01','二쇱씤怨듭쓽 ?뺤껜? 愿?⑤맂 異⑷꺽?곸씤 諛섏쟾 寃곕쭚???ш쾶 移?갔?섎ŉ, ?ㅻⅨ 愿?뚭컼?먭쾶??N?뚯감 愿?뚯쓣 ?곴레 沅뚯옣?섎뒗 留ㅼ슦 湲띿젙?곸씤 由щ럭?낅땲??',1,5,'ACTIVE',NULL,NULL),(7,1,NULL,'ddd','dddd',NULL,0.5,'2026-03-21 03:59:43','?곹솕?????媛쒖씤?곸씤 媛먯긽???붿쭅?섍쾶 ?댁? 由щ럭?낅땲??',0,5,'ACTIVE',NULL,NULL),(8,8,NULL,'?곕え: ?꾨컮? (Avatar)','?뺣쭚 ?щ??덉뿀?댁슂\r\n?섏?留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?붿젙留??щ??덉뿀?댁슂\r\n?섏?留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?붿젙留??щ??덉뿀?댁슂\r\n?섏?留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?붿젙留??щ??덉뿀?댁슂\r\n?섏?留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱?뷀븯吏留??꾨컮?2媛 ???щ? ?덉뼱??,NULL,0.5,'2026-04-23 12:30:21','?곹솕?????媛쒖씤?곸씤 媛먯긽???붿쭅?섍쾶 ?댁? 由щ럭?낅땲??',0,5,'ACTIVE',NULL,NULL);
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rules`
--

DROP TABLE IF EXISTS `rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pattern` text NOT NULL,
  `rule_type` varchar(20) NOT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rules`
--

LOCK TABLES `rules` WRITE;
/*!40000 ALTER TABLE `rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `security_logs`
--

DROP TABLE IF EXISTS `security_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `security_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `event_type` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `security_logs`
--

LOCK TABLES `security_logs` WRITE;
/*!40000 ALTER TABLE `security_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `security_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tags`
--

DROP TABLE IF EXISTS `tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tags` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tags`
--

LOCK TABLES `tags` WRITE;
/*!40000 ALTER TABLE `tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `login_id` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('User','Sub-Admin','Admin','Super-Admin') DEFAULT 'User',
  `reset_token` varchar(64) DEFAULT NULL,
  `reset_token_expiry` bigint(20) DEFAULT NULL,
  `notif_enabled` tinyint(4) DEFAULT 1,
  `profile_pic` varchar(255) DEFAULT NULL,
  `social_provider` varchar(50) DEFAULT NULL,
  `social_id` varchar(255) DEFAULT NULL,
  `status` enum('PENDING','ACTIVE','BLOCKED') DEFAULT 'PENDING',
  `email_verification_token` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `login_id` (`login_id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_login_id` (`login_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `watchlist`
--

DROP TABLE IF EXISTS `watchlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `watchlist` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `tmdb_id` int(11) NOT NULL,
  `title` varchar(200) NOT NULL,
  `poster_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `watchlist`
--

LOCK TABLES `watchlist` WRITE;
/*!40000 ALTER TABLE `watchlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `watchlist` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-09  1:03:46
